.confirmation-container {
  width: 100%;
  min-height: 75vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  gap: 20px;
  border-top: 4px double rgb(88, 141, 255);
  border-bottom: 4px double rgb(88, 141, 255);
}

.confirmation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;
  width: 500px;
  height: 500px;
  gap: 30px;
}

.confirmation-home-button{
    height: 40px;
    background-color: rgb(88, 141, 255);
    width: 100px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    padding: 5px;
}

.confirmation-home-button:hover{
    background-color: #a7e9ff;
    cursor: pointer;
}

.checked{
    color: rgb(88, 141, 255);
}

@media (max-width: 550px){
    .confirmation-wrapper{
        width: 350px;
    }
}
