* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  
  .container-fluid {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #E1E1E1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(88, 141, 255);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(33, 103, 255);
  }
